body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #f8f5fd 50%, #ffffff 50%);
  font-family: 'helvetica neue';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #79c4fa;
  box-shadow: 1px 3px  rgba(0, 0, 0, 0.3);
}

.form-container {
  margin: 3rem;
}

.logs-container {
  margin: 2rem;
}